# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.3.0
      hooks:
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.1.3
      hooks:
          - id: ruff
    - repo: https://github.com/psf/black
      rev: 22.10.0
      hooks:
          - id: black
    - repo: https://github.com/python-poetry/poetry
      rev: 1.6.1
      hooks:
          - id: poetry-check
          - id: poetry-lock
          - id: poetry-export
            args: ["-f", "requirements.txt"]
    # - repo: https://github.com/cmake-lint/cmake-lint
    #   rev: 1.4.2
    #   hooks:
    #       - id: cmakelint
    #         args: [--filter=-readability/wonkycase,--linelength=120]
    # - repo: https://github.com/cpplint/cpplint
    #   rev: 1.6.1
    #   hooks:
    #       - id: cpplint
    #         args: [--filter=-runtime/references]
    #         exclude: '(python|test)/.*'
